<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="tvs-website-app"
             deploymentSecret="vsnhofwb4afazdnzq56epzpam0kibsdma8jw05zu67"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
